#yellow-id{
    width: 100px;
    height: 100px;
    background-color:  yellow;
}



@media(min-width: 500px){
    .video {
        margin-top: 20px;
        width: 100%;
        height: 400px;
    }
    .col-lg-3 {width: 25%;}
    .col-md-6 {width: 50%;}
    .col-sm-12 {width: 100%;}
}
@media(min-width: 768px){
    .video {
        margin-top: 20px;
        width: 100%;
        height: 600px;
    }
    .col-lg-3 {width: 25%;}
    .col-md-6 {width: 50%;}
    .col-sm-12 {width: 100%;}
}
@media(min-width: 900px){
    .video {
        margin-top: 20px;
        width: 100%;
        height: 800px;
    }
    .col-lg-3 {width: 25%;}
    .col-md-6 {width: 50%;}
    .col-sm-12 {width: 100%;}
}

.photo-column{
    background-color: teal;
    height: 900px;
}

#photo-gallery{
    background-color: turquoise;
    height: 900px;
}

.photo-sm{
    width: 100%;
    height: 380px;
    background-color: thistle;
    margin-top: 10px;
    overflow: hidden;
}

.photo-big{
    width: 100%;
    height: 480px;
    background-color: violet;
    margin-top: 10px;
    overflow: hidden;
}

